.root {
    -fx-base: rgba(60, 63, 65, 255); // dark
    -fx-background: derive(-fx-base,26.4%);
    -fx-control-inner-background: derive(-fx-base,80%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background,-2%);
}

.custom-context-menu {
    -fx-pref-height: 100;
    -fx-min-height: 60;
    -fx-max-height: 400;
}

.mapLine {
    -fx-view-order: 1.0;
}

.mapPOI {
    -fx-fill: transparent;
    -fx-view-order: 0.0;
    -fx-effect: none;
}

.mapPOI: hover {
    -fx-view-order: -1.0;
    -fx-effect: dropshadow(gaussian, deepskyblue, 2, 2, 0, 0);
}
